@import "normalize";
@import "vars";

body {
  font-family: $primary-font-stack;
  background-color: $secondary-color;
}

header {
  background-color: $primary-color;
  color: white;
}

p {
  font-family: $secondary-font-stack;
}

a {
  //text-decoration: none;
}

a:link, a:visited {
  color: $secondary-color-light;
}

a:hover {
  color: $primary-color-accent;
}

a:active {
  color: $primary-color-accent-light;
}

pre {
  white-space: pre-wrap;
  margin: 0;
}
