@import "vars";

.horiz-list {
  list-style-type: none;
  padding: 0;

  li {
    display: inline;
  }
}

.wrapping-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  li {
    margin: 16px;
    flex-basis: $project-node-width;
  }
}

.row-section > header:first-child {
  border-radius: 0.5em;
  text-align: center;
  padding: 0.5em 0;
  box-shadow: 0 1px 1px black;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.row-section {
  p {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

.project-node {
  padding: 8px 16px;

  img, figure {
    margin: 0;
    width: $project-node-width;
    height: auto;
  }
}
