// ***** Fonts *****
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
$primary-font-stack: Roboto, sans-serif;
$secondary-font-stack: Lato, sans-serif;
// *****************

// ***** Colors *****
$primary-color: #01579b;
$secondary-color: #cfd8dc;
// ******************
