@import "vars";

.project-node {
  background-color: $primary-color;
  color: white;
  box-shadow: 0 1px 4px black;
  border-radius: 0.5em;
}

.mac-term {
  background-color: white;
  color: black;
  font-family: Menlo, monospace;
  padding: 8px;
}
