// ***** Fonts *****
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
$primary-font-stack: Roboto, sans-serif;
$secondary-font-stack: Lato, sans-serif;
// *****************

// ***** Colors *****
$primary-color: #01579b;
$primary-color-dark: #002f6c;
$primary-color-light: #4f83cc;
$primary-color-accent: #00b0ff;
$primary-color-accent-light: #69e2ff;
$primary-color-accent-dark: #0081cb;
$secondary-color: #cfd8dc;
$secondary-color-dark: #9ea7aa;
$secondary-color-light: #ffffff;
// ******************
