body {
	font-family: sans-serif;
	margin: auto;
}

main {
	margin: 1.5em auto;
	width: 60%;
}

body>header {
	display: flex;
	justify-content: space-between;
	padding: 1em 2em 0;
}

body>header>h1 {
	align-self: flex-end;
	margin: 0 10px 0 0;
}

body>header>address {
	align-self: flex-end;
	font-style: normal;
	margin: 0 0 0 10px;
}

body>footer {
	color: dimgrey;
	font-size: smaller;
	text-align: center;
}
