$p-color: #d32f2f;
$p-color-light: #ff6659;
$p-color-dark: #9a0007;
$s-color: #424242;
$s-color-light: #6d6d6d;
$s-color-dark: #1b1b1b;
$font-color-light: white;
$font-color-dark: black;
$default-font: sans-serif;

body {
  margin: 0;
  font-family: $default-font;
  background-color: $s-color-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.para em {
  color: $p-color-light;
  font-style: normal;
}

/* Block */
/*****************************/

.main {
  display: flex;
  height: 100vh;
  color: $font-color-light;
}

.partition {
  flex: 1;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 0 5px 40px 5px;
}

.name {
  font-size: 36pt;
  text-align: center;
  padding: 0.5em 0.3em;
  margin: 1em 0;
  background-color: rgba($p-color, 0.8);
}

.para {
  font-size: 16pt;
  text-indent: 2em;
  margin: 50px 40px;
}

.btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $font-color-light;
  padding: 0.3em;
  background-color: $p-color;
  border-radius: 5px;
  font-size: 18pt;
  margin: 0.2em;
  box-shadow: 0 2px 2px $p-color-dark;
}

.btn:hover {
  background-color: $p-color-light;
}

.btn:active {
  background-color: $p-color-dark;
}

/* Element */
/*****************************/

.btn__img {
  width: 32px;
  height: auto;
  margin-right: 0.4em;
}

/* Modifier */
/*****************************/

.btn--no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn__img--fa {
  width: auto;
}

.partition--img {
  background: url("/img/code.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.partition--content {
  background-color: $s-color-dark;
}

@media (max-width: 1132px) {
  .main {
    flex-direction: column;
  }
}
