$p-color: #d32f2f;
$p-color-light: #ff6659;
$p-color-dark: #9a0007;
$s-color: #424242;
$p-color-light: #6d6d6d;
$p-color-dark: #1b1b1b;
$default-font: sans-serif;

body {
  margin: 0;
  font-family: $default-font;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Block */
/*****************************/

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.section {
  flex: 1;
}
