:root {
  /* Theme colors */
  --p-color: #d32f2f;
  --p-color-light: #ff6659;
  --p-color-dark: #9a0007;
  --s-color: #424242;
  --p-color-light: #6d6d6d;
  --p-color-dark: #1b1b1b;
}

/* For older IE support */
article, aside, footer, header,
hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
